@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Operator;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  list-style: none;
  box-sizing: border-box;
}

@layer components {
  .hide {
    @apply hidden;
  }
  .broken-line {
    @apply text-white text-base font-light px-2 w-max flex items-center justify-center min-w-[150px] rounded-sm bg-neutral-600 mb-2 opacity-75 backdrop-blur-2xl cursor-pointer;
  }
}

@font-face {
  font-family: "Monolisa";
  src: url("./public/font/MonoLisa-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Operator";
  src: url("./public/font/OperatorMonoLig-Book.otf") format("opentype");
  font-style: normal;
}

.box {
  box-shadow: 0 0 15px #0aade4;
}
